.reset-password-page {
  text-align: center;
  height: 100vh;
  background-color: #c8eafa;
  overflow: hidden;
}
  
.reset-logo-container {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
  
.reset-logo-container img {
  max-width: 90px;
}
  
.reset-password-page p {
  font-size: 24px;
  margin-bottom: -30px;
}
  
.reset-password-form {
  max-width: 300px;
  margin: 0 auto;
}
  
.reset-form-group {
  margin-bottom: 15px;
  text-align: left;
}
  
label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
  
input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
  
.reset-password-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #F05514;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.reset-password-page p {
  font-size: 14px;
  margin-top: 70px;
}